<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact Me</title>
</head>
<body>

<%- include('./partials/header') %>
<%- include('./partials/navbar') %> 

<main>
    <h1>Contacts</h1>
    <p>Email: mutenhwaarthur1@gmail.com</p>
    <p>Phone Number: 647 679 7190</p>
</main>

<%- include('./partials/footer') %>

</body>
</html>
