<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Arthur's Portfolio</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>

<%- include('./partials/navbar') %>

<header class="hero-section">
    <div class="container">
        <h1>Welcome to My Portfolio</h1>
        <p>I'm Arthur Mutenhwa, a dedicated and passionate web developer.</p>
        <a href="/about" class="cta-button">Learn More About Me</a>
    </div>
</header>

<section class="introduction">
    <div class="container">
        <h2>Exploring the Digital Horizon</h2>
        <p>
            With a keen interest in technology and an insatiable curiosity, 
            I venture into the digital realm to create meaningful and impactful solutions. 
            My journey in web development has been an exhilarating ride, and there's so much more to explore and create.
        </p>
    </div>
</section>

<section class="skills">
    <div class="container">
        <h2>Skills & Expertise</h2>
        <ul>
            <li>Web Development</li>
            <li>Mobile App Development</li>
            <li>Digital Marketing</li>
            <li>Data Analysis</li>
            <li>Brand Imaging</li>
        </ul>
    </div>
</section>

<section class="call-to-action">
    <div class="container">
      <h2>Let's Create Something Amazing Together</h2>       
    </div>
</section>

<%- include('./partials/footer') %>

</body>
</html>
