<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Projects</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>

<%- include('./partials/header') %>
<%- include('./partials/navbar') %>  <!-- Include the navbar partial -->

<main>
    <p><b>List of software development projects made:</b></p>
    
    <ul>
        <li>
            <h2>Book'nBunk</h2>
            <img src="/images/Book'nBunk.jpg" alt="Book'nBunk Project" width="220px" length="270px">
            <p>Description: A booking platform for hostels.</p>
            <p>Role: Lead Developer</p>
            <p>Outcome: Successfully launched and operational with 10,000+ bookings.</p>
        </li>
        <li>
            <h2>LA-Football</h2>
            <img src="/images/LA.Football.jpg" alt="LA-Football Project" width="200px" length="250px"> 
            <p>Description: A website for football league management.</p>
            <p>Role: Backend Developer</p>
            <p>Outcome: Streamlined league management and improved user engagement.</p>
        </li>
        <li>
            <h2>Server Authenticator</h2>
            <img src="/images/Aunthenticator.png" alt="Server Authenticator Project" width="200px" length="250px"> 
            <p>Description: A server authentication system for secure connections.</p>
            <p>Role: Systems Architect</p>
            <p>Outcome: Enhanced security and reduced unauthorized access by 98%.</p>
        </li>
    </ul>
    
</main>

<%- include('./partials/footer') %>

</body>
</html>
